.total-area-about{
    background-color: transparent;
}
.nav-item-12{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: xx-large;
color: black;
text-decoration: none;
text-shadow: gray 1px 1px 1px;
}
.nav-item-1{
    text-decoration: none;
    color: black;
    font-size: medium;
    font-family: System;
}