.CardObject{
    text-align: center;
    align-items: center;
    margin: 20px;
    justify-content: center;

}
.unliked{
    color: rgb(20, 20, 20);
    margin-right: 15px;
    border: none;
    background-color: transparent;
}
.unliked:hover{
    color: rgb(29, 28, 28);
    font-size: medium;
}

.not-liked{
    color: black;
    margin-right: 15px;
    border: none;
    background-color: transparent;
}
.liked{
    color: rgb(211, 100, 9);
    margin-right: 15px;
    border: none;
    background-color: transparent;
}